html {
   font-size: 20px;
}

#app {
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 500px;
}

#sidebar {
   border: 1px solid black;
}

#listContent {
   display: grid;
   grid-template-rows: 100px 1fr 50px;
   border: 1px solid black;
   position: relative;
}

#listContent h2 {
   text-align: center;
}

.task {
   list-style: none;
}

.task-main {
   display: flex;
   align-items: center;
}

.task-main .task-expanded {
   background-color: beige;
}

.task .note {
   margin: 5px;
}

#addTaskForm {
   position: absolute;
   bottom: 50px;
   background-color: antiquewhite;
}