html {
   margin: 0;
   font-size: 20px;
   box-sizing: border-box;
}

body {
   margin: 0;
}

#app {
   width: 100vw;
   height: 100vh;
   margin: 0 auto;
   display: grid;
   grid-template-rows: 1fr 60px;
}

#rudder {
   display: flex;
   justify-content: space-around;
   background-color: #012536;
}

.rudder-button {
   background-color: inherit;
   color: white;
   border: none;
   font-size: 1.5rem;
   font-weight: 600;
}

.rudder-button:active {
   color: rgb(176, 107, 255);
}

#sidebar {
   display: grid;
   grid-template-rows: 1fr 50px;
   position: relative;
   background-color: #dbeafe;
}

.lists {
   list-style: none;
   display: grid;
   grid-auto-rows: 60px;
   overflow-y: auto;
}

.lists > li {
   cursor: pointer;
   padding: 16px;
}

.lists > li:hover {
   background-color: #fafafa;
}

#listContent {
   display: grid;
   max-height: 100%;
   overflow: scroll;
   grid-template-rows: 60px 1fr;
   position: relative;
   background-color: #eff6ff;
}

.list-header {
   display: flex;
   align-items: center;
   background-color: #e6eaff;
}

#listContent h2 {
   margin: 0 0 0 20px;
   text-align: center;

}

.list-header .settings-button {
   background-color: transparent;
   border: none;
   padding: 6px;
   margin-left: auto;
   margin-right: 20px;
}

.list-tasks {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   padding: 20px;
   overflow-y: auto;
   width: 88%;
}

.task {
   display: grid;
   grid-template-columns: 1fr 50px;
   grid-template-rows: 40px 1fr;
   list-style: none;
   border-radius: 8px;
   padding: 6px;
}

.task:hover {
   background-color: #9da7ff;
}

.task-main {
   grid-row: 1/2;
   display: grid;
   grid-template-columns: 40px 25px minmax(100px, 1fr);
   grid-template-rows: 40px;
   column-gap: 6px;
   justify-items: center;
   align-items: center;
   height: inherit;
}

.task-date, .task-star, .task-title, .task-note {
   cursor: pointer;
}

.task-checkbox {
   height: 35px;
   width: 35px;
}

.task-star {
   justify-self: center;
   color: gold;
}

.task-title {
   margin: 0;
   grid-column: 3/4;
   width: 100%;
   display: inline-block;
   align-items: center;
   gap: 20px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.task-main-dateless.task-main > .task-title {
   grid-column: 3/4;
}

.note {
   margin: 5px;
}

.task-settings-button {
   grid-row: 1/3;
   align-self: center;
   background-color: transparent;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.task-settings-button:active {
   background-color: white;
   border: none;
}

.controls {
   position: absolute;
   right: 0;
   bottom: 100px;
}

#listContent > .controls {
   display: flex;
   justify-content: space-between;
}

.controls-button {
  width: 41px;
  height: 100px;
  border: none;
  border-radius: 40% 0 0 40%;
  font-size: 3rem;
  box-shadow: 0 3px 5px 0 black;
  color: white;
  cursor: pointer;
}

#newListButton {
   background-color: #0ea5e9;
}

#newTaskButton {
   background-color: #84cc16;
}

#deleteListButton {
   background-color: #ef4444;
}

.form {
   position: absolute;
   bottom: 50px;
   background-color: #e6eaff;;
   padding: 0 0 24px 24px;
   z-index: 99;
}

.form ul {
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: 10px;
   list-style: none;
   padding: 0 40px 12px 0;
   margin: 0;
}

.form ul li {
   display: flex;
   align-items: center;
}

.form ul li label {
   display: block;
   height: inherit;
   width: 110px;
}

.form ul li input {
   height: 1rem;
   font-size: 0.7rem;
}

.form-checkbox {
   width: 1rem;
   height: 1rem;
   margin: 0;
}

.material-icons.md-36 { 
   font-size: 36px; 
}

.form-buttons {
   display: flex;
   justify-content: space-between;
   padding-right: 40px;
}

#submit-task {
   border: none;
   padding: 12px;
   font-size: 1rem;
   border-radius: 8px;
   cursor: pointer;
}

#submit-task {
   background-color: #7dd3fc;
}

.close-button {
   display: block;
   margin-left: auto;
   background: none;
   border: none;
   margin-bottom: 6px;
   padding: 6px;
   cursor: pointer;
   color: white;
}

#popUpMenu {
   display: grid;
   grid-template-rows: 50px 50px 1fr;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 300px;
   background-color: #012536;
}

#popUpMenu .item-title {
   text-align: center;
   color: white;
   margin: 0 0 20px 0;
   font-size: 1.5rem;
}

#popUpMenu > ul {
   display: flex;
   flex-direction: column;
   justify-content: end;
   gap: 10px;
   list-style: none;
   padding: 0 20px 20px 20px;
   margin: 0;
}

.pop-up-menu-button {
   background-color: #012536;
   color: white;
   border: 2px solid white;
   border-radius: 6px;
   font-size: 1rem;
   padding: 12px;
   width: 100%;
}

.pop-up-menu-button.delete-task-button {
   color: #eb0000;
   border: 2px solid #eb0000;
}

.pop-up-menu-button.delete-task-button:hover {
   color: #ffffff;
   background-color: #eb0000;
}
